
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `asignar_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignar_clientes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `numdoc` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `operacion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_asignacion_cliente` (`numdoc`,`operacion`),
  KEY `asignar_clientes_numdoc_index` (`numdoc`),
  KEY `asignar_clientes_operacion_index` (`operacion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `ccd_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ccd_clientes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `numdoc` varchar(12) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pdf` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cosecha` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `cliente_bloqueos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente_bloqueos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `dni` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cliente_bloqueos_user_id_dni_unique` (`user_id`,`dni`),
  KEY `cliente_bloqueos_dni_index` (`dni`),
  CONSTRAINT `cliente_bloqueos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clientes_cuentas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_cuentas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `numdoc` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cuenta` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(180) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dpto` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operacion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entidad` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `producto` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cosecha` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `moneda` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_compra` date DEFAULT NULL,
  `fecha_castigo` date DEFAULT NULL,
  `deuda_capital` decimal(18,2) DEFAULT NULL,
  `interes` decimal(18,2) DEFAULT NULL,
  `deuda_total` decimal(18,2) DEFAULT NULL,
  `direccion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `provincia` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `distrito` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_cc_numdoc_search` (`numdoc`,`entidad`,`moneda`,`deuda_total`,`deuda_capital`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `cna_solicitudes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cna_solicitudes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `correlativo` bigint unsigned DEFAULT NULL,
  `nro_carta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_pago_realizado` date DEFAULT NULL,
  `monto_pagado` decimal(12,2) DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `dni` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `titular` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `producto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operaciones` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `nota` text COLLATE utf8mb4_unicode_ci,
  `workflow_estado` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `user_id` bigint unsigned DEFAULT NULL,
  `pre_aprobado_por` bigint unsigned DEFAULT NULL,
  `pre_aprobado_at` timestamp NULL DEFAULT NULL,
  `aprobado_por` bigint unsigned DEFAULT NULL,
  `aprobado_at` timestamp NULL DEFAULT NULL,
  `rechazado_por` bigint unsigned DEFAULT NULL,
  `rechazado_at` timestamp NULL DEFAULT NULL,
  `motivo_rechazo` text COLLATE utf8mb4_unicode_ci,
  `docx_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pdf_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cna_solicitudes_nro_carta_unique` (`nro_carta`),
  KEY `cna_solicitudes_dni_index` (`dni`),
  CONSTRAINT `cna_solicitudes_operaciones_json_check` CHECK (json_valid(`operaciones`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `pagos_lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos_lotes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `archivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `total_registros` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `pagos_propia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos_propia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint unsigned DEFAULT NULL,
  `dni` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operacion` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entidad` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_cliente` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monto_pagado` decimal(15,2) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `gestor` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cosecha` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cuenta_recaudo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_pagos_lote` (`lote_id`),
  CONSTRAINT `fk_pagos_propia_lote` FOREIGN KEY (`lote_id`) REFERENCES `pagos_lotes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `promesa_cuotas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promesa_cuotas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `promesa_id` bigint unsigned NOT NULL,
  `nro` int unsigned NOT NULL,
  `fecha` date NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `es_balon` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `promesa_cuotas_promesa_id_nro_index` (`promesa_id`,`nro`),
  CONSTRAINT `promesa_cuotas_promesa_id_foreign` FOREIGN KEY (`promesa_id`) REFERENCES `promesas_pago` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `promesa_operaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promesa_operaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `promesa_id` bigint unsigned NOT NULL,
  `operacion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cartera` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `promesa_operaciones_promesa_id_operacion_unique` (`promesa_id`,`operacion`),
  KEY `promesa_operaciones_operacion_index` (`operacion`),
  KEY `promesa_operaciones_cartera_index` (`cartera`),
  CONSTRAINT `promesa_operaciones_promesa_id_foreign` FOREIGN KEY (`promesa_id`) REFERENCES `promesas_pago` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `promesas_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promesas_pago` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `dni` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operacion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_promesa` date NOT NULL,
  `fecha_pago` date DEFAULT NULL,
  `monto` decimal(18,2) NOT NULL DEFAULT '0.00',
  `workflow_estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'parcial',
  `nro_cuotas` int unsigned DEFAULT NULL,
  `monto_convenio` decimal(18,2) DEFAULT NULL,
  `monto_cuota` decimal(18,2) DEFAULT NULL,
  `cuota_dia` tinyint unsigned DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `nota` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `pre_aprobado_por` bigint unsigned DEFAULT NULL,
  `pre_aprobado_at` timestamp NULL DEFAULT NULL,
  `nota_preaprobacion` text COLLATE utf8mb4_unicode_ci,
  `aprobado_por` bigint unsigned DEFAULT NULL,
  `aprobado_at` timestamp NULL DEFAULT NULL,
  `nota_aprobacion` text COLLATE utf8mb4_unicode_ci,
  `rechazado_por` bigint unsigned DEFAULT NULL,
  `rechazado_at` timestamp NULL DEFAULT NULL,
  `nota_rechazo` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `promesas_pago_user_id_foreign` (`user_id`),
  KEY `promesas_pago_dni_index` (`dni`),
  KEY `promesas_pago_operacion_index` (`operacion`),
  KEY `promesas_pago_pre_aprobado_por_foreign` (`pre_aprobado_por`),
  KEY `promesas_pago_aprobado_por_foreign` (`aprobado_por`),
  KEY `promesas_pago_rechazado_por_foreign` (`rechazado_por`),
  KEY `promesas_pago_workflow_estado_index` (`workflow_estado`),
  CONSTRAINT `promesas_pago_aprobado_por_foreign` FOREIGN KEY (`aprobado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `promesas_pago_pre_aprobado_por_foreign` FOREIGN KEY (`pre_aprobado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `promesas_pago_rechazado_por_foreign` FOREIGN KEY (`rechazado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `promesas_pago_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('administrador','supervisor','asesor','soporte') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'soporte',
  `supervisor_id` bigint unsigned DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_supervisor_id_idx` (`supervisor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

